.editorContainer {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 8px 0;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.editorParent,
.editorConsole {
  background-color: var(--section-bg-color);
  color: var(--section-text-color);
  border-radius: 3px;
  overflow: auto;
  position: relative;

  .cm-editor {
    height: 100%;

    .cm-gutter {
      background-color: var(--section-bg-color);
      color: var(--section-text-color);
    }

    .cm-activeLineGutter,
    .cm-activeLine {
      background-color: var(--section-bg-contrast-color);
      color: var(--section-text-contrast-color);
    }

    .cm-selectionBackground {
      background-color: var(--section-bg-em-color);
    }
  }
}

.editorParent {
  * {
    transition: none;
  }
}

.editorConsole {
  color: var(--section-text-color);
  padding: 8px;
  font-size: 12px;
}

@media screen and (min-width: 780px) {
  .editorContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
